.pad_x_main{padding-left:100px;padding-right:100px;}
.header{display:flex;justify-content:flex-end;}
.height_10{height:20px;}
.margin_x_10{margin-left:5px;margin-right:10px;}
.br_right{border-right:1px solid black;padding-right:10px;}
.cursor_pointer{cursor:pointer;}
.text_color_wt{color:white;background-color:#6CC23D;}
.pad_20{padding:20px;}
.margin-top-35{margin-top:35px;}
.width-90{width:88%;}
.width-10{width:12%;}
.basket{background-color:#F2F2F2;padding:12px;}
.w-h{width:100%;height:30px;margin-left:25px;}
.button-start{height:32px;width:50%;border-radius:10px;margin-left:15px;}
.d-flex{display:flex;padding:10px;}
.margin-top-15{margin-top:15px;}
.margin-left-4{margin-left:4px;}
.margin-left-40{margin-left:40px;justify-content:space-between;}
.shop-catageory{width:15%;background-color:#84C225;padding:8px;color:white;text-align:center;float:left;font-size:12px;}
.offers{border:1px solid #F0F0F0;padding:2px;}
.display-flex{display:flex;}
.mt-top{margin-top:10px;}
.width-60{width:60%;margin-left:35px;}
.start-button-div{width: 30%;display: flex;justify-content: center;}
.btn-bg-colr{background-color:#84C225;height:36px;border-width:1px !important;}
.mt-5px{margin-top:5px;}
.main{background-color:#BEE187;padding:50px;display:flex;}
.main>div{margin:auto;}
.main>div:first-child{margin-left:80px;}
.width-50{width:50%;}
.organic{font-size:60px;}
.choose_bgbsct{background-color:#DEE1E6;padding:10px;display:flex;border-radius:5px;margin-top:10px;margin-bottom:10px;}
.font-size-30{font-size:30px;}
.flex-one{flex:1;}
.mg-auto{margin:auto;}
.w-30{width:30%;}
.w-70{width:70%;}
.quality-div{margin-top: 3px; margin-left: 10px;}
.meat-button{justify-content:space-between;align-items:center;padding:2px;margin-top:25px;}
.meat-button-radius{border-radius:5px;background-color:#B5DBFF;padding-top:15px;padding-bottom:15px;padding-left:25px;padding-right:30px;}
.margin-left-10{margin-left:10px;}
.justify-align{justify-content:center;align-items:center;}
.bg-main-two{background-color:#F4F4F4;padding:50px;height:250px;}
.bg-main-three{background-color:#63B76C;padding:50px;font-size:52px;height:250px;}
.border-2px{border:2px solid black;}
.mt-top-25{margin-top:25px;}
.mt-top-30{margin-top:50px;}
.mt-top-70{margin-top:90px;}
.mt-left-45{margin-left:45px;}
.text-center{text-align:center;}
.bg-green{background-color:#A4CC38;padding:10px;}
.m-right-10px{margin-right:10px;}
.m-right-5px{margin-right:5px;}
.m-left-5px{margin-left:5px;}
.border-radius-5px{border-radius:5px;}
.bg-white{background-color:white;}
.pad-10{padding:10px;}
.pad-67{padding:67px;}
.pad-5{padding:5px;}
.mt-top-20{margin-top:15px;font-size:22px;}
.icib-css{width:70%;margin:auto;color:#173B68;}
.pretty-image-border{border:2px solid #967B24;}
.prety-imge-div{width:70%;margin:auto;background-color:white;padding:5px;position:relative;bottom:35px;}
.season-border{border:1px solid #C1C1C1;}
.season-image-border{border:2px solid #7FB798;}
.prety-imge-season{width:70%;margin:auto;background-color:#FAFAFA;padding:5px;position:relative;bottom:15px;border:1px solid #B5C79A;}
.prety-imge-season-alu{width:70%;margin:auto;background-color:#FAFAFA;padding:10px;position:relative;bottom:20px;border:1px solid #B5C79A;}
.pad-bottom-0{padding-bottom:0px !important;}
.mrgn-right-5{margin-right:5px;}
.alu-img-border{border:2px solid #7FB799;}
.mrgn-bottom-5{margin-bottom:5px;}
.mrgn-top-5{margin-top:5px;}
.mrgn-top-20{margin-top:20px;}
.mrgn-top-15{margin-top:15px;}
.text-green{color:#84C225;}
.text-white{color:white;}
.bg-block{background-color:#000000;}
.pad-20{padding:5px;border-radius:8px;width:50%;}
.security{padding:5px;width:50%;}
.font-size-5{font-size:10px;}
.margin-auto{margin:auto;}
.flex-four{flex:4;}